<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django Handler" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\GitHub\Filter\env\Scripts\python.exe|D:\GitHub\Filter\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
