/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
    font-family: 'noto_kufi_arabicregular', Tahoma, sans-serif !important;
}
* {
    font-family: 'noto_kufi_arabicregular',Arial,Tahoma,sans-serif;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
			@font-face {
    font-family:myFirstFont;
	src:url(fonts/DroidKufi-Bold.ttf);
}
		
.fo {
    font-family:myFirstFont;
}
.ex{
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}
h1, h2, h3, h4, h5, h6, panel-title {
    font-family: 'Cairo-SemiBold','Cairo-Bold',Tahoma,sans-serif;
    font-weight: 200;
    /*font-size:300px !important;*/
}
@font-face {
    font-family: 'Cairo-SemiBold';
    src: url('../fonts/cairo-semibold-webfont.eot');
    src: url('../fonts/cairo-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cairo-semibold-webfont.woff2') format('woff2'), url('../fonts/cairo-semibold-webfont.woff') format('woff'), url('../fonts/Cairo-SemiBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Black';
    src: url('../fonts/cairo-black-webfont.eot');
    src: url('../fonts/cairo-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cairo-black-webfont.woff2') format('woff2'), url('../fonts/cairo-black-webfont.woff') format('woff'), url('../fonts/Cairo-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo-Bold';
    src: url('../fonts/cairo-bold-webfont.eot');
    src: url('../fonts/cairo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cairo-bold-webfont.woff2') format('woff2'), url('../fonts/cairo-bold-webfont.woff') format('woff'), url('../fonts/Cairo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_kufi_arabicregular';
    src: url('../fonts/notokufiarabic-regular.eot');
    src: url('../fonts/notokufiarabic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/noto_kufi_arabicregular.woff2') format('woff2'), url('../fonts/noto_kufi_arabicregular.woff') format('woff'), url('../fonts/notokufiarabic-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #ADD8E6;
    border: solid 1px Blue;
    border-right: 0px none;
    width: 350px;
}

.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ADD8E6;
    border: solid 1px Blue;
}
.page-title {
    margin: 10px 0 0px 0;
    font-size: 50pt;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'Cairo-Bold','Cairo-Bold',Tahoma,sans-serif;
    color: #fff;
}
