
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
  <form method="get">
    {{ filter.form |crispy }}
    <button type="submit" class="btn btn-success btn-lg">Search</button>
  </form>
  <br/>
  {% endblock %}
   {% block results %}
  <div class="card bg-light text-dark">
  <div class="card-header bg-secondary text-white"><h3>نتائج البحث</h3></div>
  <div class="card-body">
   <!-- {% render_table filter.qs 'django_tables2/bootstrap.html'%} -->



  <table class="table table-bordered">
    <thead>
      <tr>
      <th>اسم المصنع </th>
        <th>المدير المسئول</th>
        <th>العنوان</th>
        <th>رقم التليفون</th>
        <th>رقم السجل</th>
        <th>المنتجات</th>
        <th>الكمية</th>
        <th>الوحدة</th>
      </tr> 
    </thead>
    <tbody>
      {% for fact in object_list %}
        <tr>
          <td>{{ fact.NAME }}</td>
          <td>{{ fact.CEO_NAME }}</td>
          <td>{{ fact.DETAILED_ADDRESS }}</td>
          <td>{{ fact.PRIMARY_MOBILE }}</td>
         <td>
            {% for registry in fact.my.all %}
              {{registry.REGISTRY_NUMBER}}
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
          </td>
          <td>
            {% for prod in fact.Prouducts.all %}
              {{ prod.PRODUCT_TITLE}}<br>
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
          </td>
          
          <td>
          
            {% for q in fact.Productquantities.all%}
             {{q.PRODUCT_QUANTITY}}<br>
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
            </td>
           


        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
  
  
  </div>
{% endblock %}