{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load  django_tables2 %}
<!-- {% load render_table from django_tables2 %} -->


{% block content %}

  <form method="get">
 
    {{ filter.form |crispy }}
    <button type="submit" class="btn btn-success btn-lg">Search</button>
  </form>
  <br/>
 
  {% endblock %}
   {% block results %}
  <div class="card bg-light text-dark">
  <div class="card-header bg-secondary text-white"><h3>نتائج البحث</h3></div>
  <div class="card-body">
    
    <!-- {% render_table table 'django_tables2/bootstrap.html'%} -->
   <!-- {% render_table filter.qs 'django_tables2/bootstrap.html'%} -->
   </div>
   <!-- <a href="{% export_url "csv" %}">enter</a>
    
{% for format in view.export_formats %}
<a href="{% export_url format %}">
download <code>.{{ format }}</code>
</a>
{% endfor %} -->


<table class="table table-bordered">
  <thead>
    <tr>
      <th>رقم السجل</th>
      <th>اسم المنشأه</th>
      <th>المدير</th>
      <th>العنوان</th>
      <th>الموبايل</th>
      <th>المنتجات</th>
    </tr>
  </thead>
  <tbody>
    {% for fact in object_list %}
      <tr>
        <td>{{ fact.FACILITY_ID }}</td>
        <td>{{ fact.NAME }}</td>
        <td>{{ fact.CEO_NAME }}</td>
        <td>{{ fact.DETAILED_ADDRESS }}</td>
        <td>{{ fact.PRIMARY_MOBILE }}</td>
        <td><ul>
          {% for p in fact.Prouducts.all %}
            <li>{{ p}}</li>
          {% empty %}
            <em class="text-muted">No group</em>
          {% endfor %}
        </ul>
        </td>
       
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}