
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load  django_tables2 %}
{% load i18n %}
{% block content %}

  <form method="get">
 
    {{ filter.form |crispy }}
    <button type="submit" class="btn btn-success btn-lg">Search</button>
  </form>
  <br/>
  {% endblock %}
   {% block results %}
  <div class="card bg-light text-dark">
  <div class="card-header bg-secondary text-white"><h3>نتائج البحث</h3></div>
  <div class="card-body">
    
   {% render_table table 'django_tables2/bootstrap.html'%}
   </div>
   <a href="{% export_url "csv" %}">enter</a>
    
{% for format in view.export_formats %}
<a href="{% export_url format %}">
download <code>.{{ format }}</code>
</a>
{% endfor %}


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Date joined</th>
      <th>Groups</th>
    </tr>
  </thead>
  <tbody>
    {% for user in filter.qs %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
          {% for group in user.groups.all %}
            {{ group }}
          {% empty %}
            <em class="text-muted">No group</em>
          {% endfor %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}