
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
  <form method="get">
    {{ filter.form |crispy }}
    <button type="submit" class="btn btn-success btn-lg">Search</button>
  </form>
  <br/>
  {% endblock %}
   {% block results %}
  <div class="card bg-light text-dark">
  <div class="card-header bg-secondary text-white"><h3>نتائج البحث</h3></div>
  <div class="card-body">
   {% render_table filter.qs 'django_tables2/bootstrap.html'%}
  <!---->


  <table class="table table-stripe">
    <thead>
      <tr>
        <th>Factory_Name</th>
        <th>Factory_Manger</th>
          <th>Factory_Activity</th>
          <th>Factory_gov</th>
        
        <th>registery</th>
        <th>qunty</th>
        <th>products</th>
      </tr>
    </thead>
    <tbody>
      {% for fact in filter.qs %}
        <tr>
          <td>{{ fact.Factory_Name }}</td>
          <td>{{ fact.Factory_Manger}}</td>
          <td>{{ fact.Factory_Activity }}</td>
          <td>{{ fact.Factory_gov }}</td>

          <td>
            {% for reg in fact.my.all %}
              {{ reg}}-- {{reg.reqnum}}
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
          </td>
          <td>
         {{fact.tt.all}} --{{fact.Productquantaies}}
          <td>
            {% for prod in fact.products.all %}
              {{ prod.Productname}}---{{prod.Productq}}<br>
            {% empty %}
              <em class="text-muted">No group</em>
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}